body {
    background-color: #7b7b7b;
}

section {
    background-color: whitesmoke;
    padding: 1rem;
    border-radius: 1rem;
}

.container {
    padding: .5rem;
}
.header-container {
    display: flex;
    flex-direction: row;
    align-items: stretch; /* Ensures both children are same height */
    margin: 1rem 0;
    gap: 1rem;
}

.header-item {
    font-size: 1rem;
    width: 50%;
    border-radius: 1rem;
}

.profile-pic {
    width: 11rem;
    object-fit: cover;
    height: 100%; /* Stretch to match sibling */
    border-radius: 1rem;
}

#about {
    background-color: whitesmoke;
    padding: 1rem;
}